- page_title "Para Sacar"
%h1= yield :title
- unless @inventarios.empty?
  %table.results
    %tr.title
      %th Color
      %th Columna
      %th Fila
      %th C&oacute;digo
      %th Talla
      %th Cantidad
      %th Nombre
      %th Numero
      %th Marca
      %th Tipo
      %th
      %th
    = render :partial => 'inventario', :collection => @inventarios
  = will_paginate @inventarios
- else
  %p{ :style => "color: green" }
    = "No se encontraron registros"
