- page_title "Hacer reinventario"
- unless @inventarios.nil?
  %center
    %br
    %br
    Por favor coloque el paquete con c&oacute;digo
    %b= @inventarios.id
    en:
    %br
    %table
      %tr{ :align => "center" }
        %th Fila
        %td \&nbsp;&nbsp;
        %th Columna
      %tr{ :align => "center" }
        %td= @inventarios.fila
        %td \&nbsp;&nbsp;
        %td= @inventarios.columna
  - button_2("Orto",reinventariar_index_path)
- else
  %p{ :style => "color: green;" }
    Lo sentimos, hubo un error en el sistema, por favor notif&iacute;queselo a un encargado
  - button_2("Reiventariar",reinventariar_index_path)
