- page_title "Hacer reinventario"
- unless @inventarios.nil?
  %center
    %br
    %br
    Deber&iacute;a haber
    %b= h @inventarios.cantidad
    camisas en este grupo.
    %br
    ¿Cu&aacute;ntas hay en realidad?
    %br
    %br
    Cantidad
    - form_tag(reinventariar_path,:method => :put) do
      = text_field_tag  'cantidad',{}, {:size => 3}
      %br
      %br
  - button_2("Guardar",'#', :onclick => 'document.forms[0].submit()')
- else
  %p{ :style => "color: green;" }
    Lo sentimos, hubo un error en el sistema, por favor notif&iacute;queselo a un encargado
- button_1("<= Atras",reinventariar_index_path)
