<% page_title "Reinventariar"%>
<h1><%= yield :title %></h1>
<br/>
<% form_tag({},:method => :get) do %>
	Codigo: <%= text_field_tag :id,{}, :size => 5 %>
<% end -%>
<% unless @inventarios.nil? or @inventarios.empty? %>
	<h2>O</h2>
	<table class="results">
		<tr class="title">
			<th>C&oacute;digo</th>
			<th></th>
		</tr>
		<%= render :partial => 'inventario', :collection => @inventarios %>
	</table>
<% else %>
<p style="color: green;">No se encontraron registros a Reinventariar</p>	
<% end %>
<% button_2("Reinventariar",'#',:onclick => "document.forms[0].submit()")  %>