services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ***REMOVED***
      MYSQL_DATABASE: inventario_dev
      MYSQL_USER: postgres
      MYSQL_PASSWORD: ***REMOVED***
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails server -b 0.0.0.0"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      RAILS_ENV: development
      BUNDLER_VERSION: 1.17.3

volumes:
  mysql_data:
  bundle_cache:
