- page_title "Localizacion"
- form_tag(avanzado_path(@inventario),:method => :put) do
  %p{ :style => "color: navy;" }
    Por favor, escriba
    %big
      %b= @inventario.id
    en las camisas y especifique la posici&oacute;n del paquete que acaba de ingresar
  = render :partial => 'application/location'
- button_2("Guardar",'#', :onclick => 'document.forms[0].submit()')
