- page_title "New"
%h1= yield :title
#new.results
  - form_tag(:action => "create") do
    = render :partial => 'application/cantidad'
    = render :partial => 'application/attributes'
%br
- button_1("<= Atras",avanzado_index_path)
- button_2("Crear =>","#", :onclick => 'document.forms[0].submit()')
