/* Coto Color Schem */
.show-item, .results, #top-bar, #por_sacar, .footer, .pagination a, .three {
  background-color: #ffffff;
  border: navy 1px solid;
}
.show-item tr, .even, #top-bar, .footer,.pagination a, .three {
  color:black;
  background-color: #C3D9FF;
  }
.odd, .pagination a:hover, .pagination a:active,.three:hover {
  color:black;
  background-color: white;
}
.title {
      background-color: black;
      color:white;
}
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
/* End Coto Color Schem */

/* Busar layout */
.content {
	width:680px;
	height:350px;
}
.por_sacar { width:680px; }
#location { width:300px; }
#por_sacar { 
	
  border-spacing:0px;
  padding:5px;
  margin:10px 0;
 }
 #t_por_sacar { width:100%; }
/* End Buscar Layout */

#por_sacar_error { color:red; }

/* Avanzado */
 .show-item {
   border-spacing:1px;
   padding:5px;
   width:400px;
   }

    .show-item tr td { padding:5px; }
#edit, #new { width:550px; }
/* End Avanzado */

/* Search Results Style */
.results {
  border-spacing:0px;
  padding:5px;
}
.title {
    font-style: italic;
    text-align: center;
    }
    .title th { padding:10px; }
.even { text-align: center; }
.odd { text-align: center; }
.even td, .odd td { padding:5px; }
/* End Search Results Style */

/* Top Bar */
#top-bar { padding:5px; }

.float-left{ float:left; }

.float-right{ float:right; }

.clear { clear:both; }
/* End Top Bar */

/* Footer */
html, body { height: 99%; }
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
}
.footer {
  padding:2px;
  text-align: center;
  width:auto;
  }
  .footer,.push { height: 20px; }

/* End Footer */

/* Pagination */
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  text-decoration: none;
}

.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}
/* End Pagination */

/* Default Syling options */
body { 
  background-color: #fff; 
  color: #333;
  background-image: url(/images/SBC.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
div.three{
	float:left;
	font-weight:bold;
	width:113px;
	height:25px;
}
div.three:hover{
	float:left;
	font-weight:bold;
	width:113px;
	height:25px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
/* End Default Styling Options */
