<td><%=h Marca.detect_from_cached inventario.marca_id %></td>		
<td><%=h Tipo.detect_from_cached inventario.tipo_id %></td>			
<td><%=h Color.detect_from_cached inventario.color_id %></td>				
<td><%=h Talla.detect_from_cached inventario.talla_id %></td>