	<table>
		<tr>
			<td>
				<label for="inventario_fila">Fila [A, B, C...]</label><br/>
				<%= text_field 'inventario', 'fila', {:size => 3, :maxlength => 3}  %>
			</td>	
			<td>
				<label for="inventario_columna">Columna [1, 2, 3...]</label><br/>
				<%= text_field 'inventario', 'columna', {:size => 3, :maxlength => 3}  %>
			</td>
		</tr>
	</table>
