= hidden_field :inventario, :update_ids, :value => true
%table
  %tr
    %td
      %label{ :for => "inventario_fila" }
        Fila [A, B, C...]
      %br
      = text_field 'inventario', 'fila', {:size => 3, :maxlength => 3}
    %td
      %label{ :for => "inventario_columna" }
        Columna [1, 2, 3...]
      %br
      = text_field 'inventario', 'columna', {:size => 3, :maxlength => 3}
