- if @por_sacar
  = form_tag(por_sacar_javascripts_path, remote: true) do
    #por_sacar_error
      = @error if @error
    %h2
      Nombre de orden:
      %span#nombre.editable{data: {url: nombre_de_orden_javascripts_path, placeholder: "(agregue el nombre)"}}= nombre_de_orden
    %h2
      Numero de orden:
      %span#numero.editable{data: {url: numero_de_orden_javascripts_path, placeholder: "(agregue el numero)"}}= numero_de_orden
    %table#t_por_sacar.results
      %tr.title
        %th Codigo
        %th
        %th Marca
        %th Tipo
        %th Color
        %th Talla
        %th Cantidad
        %th Por sacar
      = render :partial => 'application/cosas_por_sacar', :collection => @por_sacar
- else
  %div Por Sacar