<br/>
<center><h1>Inventario</h1>
<table>
	<tr align="center"><td>
<!-- <a href="<%= url_for :controler => "inventario", :action =>"list" %>"> -->
<a href="/inventario/buscar">
<div class="three">
Buscar
</div>
</a>
</td>
<td>
<!-- <a href="<%= url_for :controler => "inventario", :action =>"list" %>"> -->
<a href="/inventario/sacar">
<div class="three">
Sacar
</div>
</a>
</td>
<td>
<!-- <a href="<%= url_for :controler => "inventario", :action =>"list" %>"> -->
<a href="/inventario/reinventariar">
<div class="three">
Reinventariar
</div>
</a>
</td>
</tr>
<tr>
	<td colspan="3" align="center">
		<%= link_to "Avanzado", :controller => "inventario", :action => "list" %>
	</td>
</tr>
</table>
</center>